- name: Add Sublime PPA
  apt_repository: repo='ppa:webupd8team/sublime-text-3' mode=664

- name: Install Sublime
  apt: name=sublime-text-installer state=present update_cache=yes


- name: Install packages
  apt: name={{item}} state=present
  with_items:
    - bridge-utils
    - build-essential
    - cmake
    - dconf-editor
    - diodon
    - git
    - httpie
    - jq
    - nmap
    - wireshark
    - default-jdk
    - python-dev
    - libsqlite3-dev
    - php
    - python3
    - rubygems
    - ruby-dev
    - bundler
    - zlib1g-dev

- name: Install Ruby gems
  gem: name={{item}}
  with_items:
    - jekyll

- name: Install Python packages
  pip: name={{item}}
  with_items:
    - stormssh
    - js-yaml
